@charset "utf-8";
/* CSS Document */
.rows {
	display: block
}
.slide_height {
	height: 650px !important
}
.select_area {
	background-color: rgba(195, 186, 186, 0.8);
	padding: 30px;
	width: 100%;
}
.swiper-container, .swiper-slide {
	width: 100%;
	height: 600px;
}
.slider_txt {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100%;
	height: 600px !important;
	display: table;
	z-index: 99
}
.slider_txt_area {
	vertical-align: bottom;
	text-align: center;
	display: table-cell;
	padding-bottom: 50px;
}
.select_area {
	text-align: left;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
.select_area h3 {
	font-size: 23px;
	color: #dc453f;
	font-family: 'Montserrat';
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 30px
}
.select_area p {
	font-size: 14px;
	color: #f6931b;
	font-family: 'Montserrat';
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
}
.styl1 {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 0px solid;
	font-size: 12px;
}
.select_box_btn {
	text-align: center
}
.btn_styl_2 {
	width: 260px;
	height: 50px;
	background: #d82d27;
	color: #fff;
	font-family: 'Montserrat';
	border: 0px solid;
	font-weight: 800;
	transform: skewx(0deg);
	border-radius: 10px;
	transition: background .2s ease, color .2s ease;
}
.btn_styl_3 {
	width: 260px;
	height: 50px;
	background: #d82d27;
	color: #fff;
	font-family: 'Montserrat';
	border: 0px solid;
	font-weight: 800;
	transform: skewx(0deg);
	border-radius: 10px;
	transition: background .2s ease, color .2s ease;
}
.btn_styl_2 span {
	display: block;
	transform: skewx(0deg);
}
.btn_styl_2:hover {
	background-color: rgba(216,45,39,0.5)
}
.agent_btn > .btn3 {
	background: #1a86c7;
}
.agent_btn > .btn3:hover {
	background-color: rgba(17,132,198,0.5)
}
.select_area_btn {
	transform: skewx(0deg);
}
.banner_right_txt {
	text-align: left;
	margin-top: 10%;
}
.banner_right_txt h2 {
	font-size: 50px;
	color: #ffffff;
	font-family: 'Montserrat';
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 30px
}
.page-search {
	float: left;
	width: 347px;
	height: 385px;
	margin: 0px auto 0px auto;
	background: transparent;
}
.mp-offesr {
	font-family: 'Raleway';
	padding: 30px 0px 0px 0px;
}
.srch-btn {
	width: 102px;
	height: 36px;
	font-size: 13px;
	font-weight: 800;
}
.search-tab {
	height: 44px;
}
.google_map {
	height: 150px;
}
.footer-a .section:last-child {
	float: left;
	width: 254px;
}
.banner_slider {
	width: 100%;
	height: 300px;
	position: relative;
	display: table;
}
.banner_slider_text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: 'ralewayregular';
	font-size: 46px;
	color: #fff;
	padding-top: 130px;
}
.hotel_booking_area {
	display: none;
}
.agent_login_details {
	margin-top: 15px;
}
.agent_pic {
	width: 150px;
}
.agent_pic img {
	width: 100%;
}
.tabs_area {
	margin: 30px 0px
}
.tabs_area ul {
	list-style: none;
	padding-left: 0px;
}
.tabs_area ul li {
	width: 19%;
	display: inline-flex;
	margin-right: 10px;
}
.tabs_area ul li:last-child {
	margin-right: 0px;
}
.tab_name_area {
	height: 100px;
!important;
	margin: 20px;
}
.tab_name_area h1 {
	color: #fff;
	font-size: 25px;
	text-align: center;
	padding-top: 30px;
}
.tab_link_area {
	text-align: center;
	color: #fff;
	padding: 4px 0px;
	background: rgba(0, 0, 0, 0.1);
}
.first_tab {
	background-color: #00c0ef !important
}
.second_tab {
	background-color: #f39c12 !important
}
.third_tab {
	background-color: #00a65a !important
}
.fourth_tab {
	background-color: #dd4b39 !important
}
.fifth_tab {
	background-color: #FF33CC !important
}
.bopoking_hedaing h1 {
	font-size: 22px;
}
label {
	font-weight: 600 !important
}
.field_heading {
	font-family: 'Raleway';
	font-size: 25px;
	text-align:center;
}
.select_box_styl {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/dropdown_arrow2.png)no-repeat 98% center !important;
}
.box2 {

    position: relative;
    border-radius: 0px;
    /*background: #fafafa !important;*/
    border-top: 0px solid #fafafa !important;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: none !important;

}
.wizard {
    margin: 0px auto 20px auto;
    background: none;
}
.wizard .nav-tabs {
    position: relative;
    margin: 0px auto 15px auto;
    border-bottom-color: #e0e0e0;
}
.form-control {
    border-radius: 0px !important;
    box-shadow: none;
    border-color: #5bc0de !important;;
}
.each_sub_agent{width:100%; min-height:100px; padding:20px; height:auto; margin:20px 0px}
.sub_agents_area1{background-color: #00c0ef !important}
.sub_agents_area2{ background-color: #f39c12 !important}
.sub_agents_area3{ background-color: #00a65a !important}
.sub_agents_area4{ background-color: #dd4b39 !important}
.list_of_sub_agents{ margin-top:30px;}
.tab-pane p{ font-size:13px !important}
.tab-pane h3{ font-size:25px !important}

/*================= my work ==================*/
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

/*====== my work =======*/
.img_gap img{
width:100%;
}
/*=====================*/
/*============================================*/


@media(max-width:1199px) {
.tab_name_area h1 {
	font-size: 20px;
}
.tabs_area ul {
	text-align: center
}
.tabs_area ul li {
	width: 18%;
}
}
@media(max-width:1053px) {
.header-right {
	float: right;
	margin-top: -38px;
}
.header-logo img {
	width: 150px;
	margin-top: -22px;
	margin-left: 10px;
}
}
@media(max-width:1023px) {
.wrapper-a-holder {
	max-width: 970px;
	margin: 0px auto
}
.header-right {
	float: right;
	margin-top: 30px;
}
.banner_right_txt h2 {
	font-size: 30px;
}
.btn_styl_2 {
	margin-top: 10px
}
.select_area h3 {
	font-size: 23px;
}
.page-search {
	float: left;
	width: 347px;
	height: 385px;
	margin: 0px 15px 0px 15px;
	background: transparent;
}
.wrapper-padding {
	padding: 0px !important
}

}
@media(max-width:991px) {
.wrapper-a-holder {
	max-width: 767px;
	margin: 0px auto
}
.tabs_area ul li {
	width: 25%;
	margin-bottom: 15px
}
/*====== my work =======*/
.img_gap img{
width:auto;
max-width:100% !important;
padding-bottom:15px;
}
/*=====================*/
}
@media (max-width:767px) {
.slide_height {
	height: 705px !important;
}
.select_area {
	margin-top: 30px;
}
.header-b {
	height: 89px;
}
.page-search {
	margin: 120px 0px 0px 0px;
	width: 100%;
}
.search-tab.nth {
	margin-right: 0px;
	float: left;
}
.mp-offesr {
	font-family: 'Raleway';
	padding: 25px 0px 0px 0px;
}
.slider_txt {
	height: 754px !important;
}
.banner_right_txt h2 {
	font-size: 20px;
	margin-bottom: 10px
}
.select_area h3 {
	font-size: 20px;
}
.select_area {
	padding: 20px 10px;
}
.offer-slider {
	margin-bottom: 20px;
}
.offer-slider-lbl {
	font-size: 18px;
}
.tab_name_area h1 {
	font-size: 17px;
}
.tab_name_area {
	height: 80px !important;
	margin: 20px;
}
.agent_pic {
	width: 150px;
	margin: auto;
}
.agent_login_details {
	text-align: center
}
.bopoking_hedaing {
	text-align: center
}
.tabs_area ul li {
	width: 100%;
	margin-bottom: 15px;
}
.wizard{ width:100%}
.field_heading {
    font-family: 'Raleway';
    font-size: 20px;
    text-align: center;
}
.box_body_res{ padding:0px !important;}
.res_btn{ text-align:center !important; float:none !important}
.res_padding{ padding:0px !important;}
.res_side_box_body{ padding-left:0px !important;
padding-right:0px!important;}
.res_padding_left_right{ padding-left:0px !important;
padding-right:0px!important; }
.tab-pane h3 {

    font-size: 18px !important;

}
.addfill{ margin-top:15px;
}
/*====== my res======*/
.font_reduce table tr td{
font-size:13px;
}

/*===================*/
}
@media only screen and (max-width: 800px) {
/* Force table to not be like tables anymore */
#no-more-tables table,  #no-more-tables thead,  #no-more-tables tbody,  #no-more-tables th,  #no-more-tables td,  #no-more-tables tr {
	display: block;
}
/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
#no-more-tables tr {
	border: 1px solid #ccc;
}
#no-more-tables td {
	/* Behave  like a "row" */
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
	white-space: normal;
	text-align: left;
}
#no-more-tables td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
	text-align: left;
	font-weight: bold;
}
/*
	Label the data
	*/
#no-more-tables td:before {
	content: attr(data-title);
}
}
